# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/
.venv/
venv/
.mypy_cache/

# Node
node_modules/
npm-debug.log*

# OS / Editor
.DS_Store
.idea/
.vscode/

# Tool-Outputs
output/
output.ttl
*.app/
